@font-face {
  font-family: 'FocialMix';
  src:  url('fonts/FocialMix.eot?6me5gk');
  src:  url('fonts/FocialMix.eot?6me5gk#iefix') format('embedded-opentype'),
    url('fonts/FocialMix.ttf?6me5gk') format('truetype'),
    url('fonts/FocialMix.woff?6me5gk') format('woff'),
    url('fonts/FocialMix.svg?6me5gk#FocialMix') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FocialMix' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "\e931";
}
.icon-laptop:before {
  content: "\e934";
}
.icon-computer:before {
  content: "\e934";
}
.icon-pc:before {
  content: "\e934";
}
.icon-gmail:before {
  content: "\e900";
}
.icon-google-mail:before {
  content: "\e900";
}
.icon-wine:before {
  content: "\e901";
}
.icon-pi:before {
  content: "\e902";
}
.icon-raspberry-pi:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-sharepoint:before {
  content: "\e904";
}
.icon-sway:before {
  content: "\e905";
}
.icon-visio:before {
  content: "\e906";
}
.icon-publisher:before {
  content: "\e907";
}
.icon-project:before {
  content: "\e908";
}
.icon-access:before {
  content: "\e909";
}
.icon-onenote:before {
  content: "\e90a";
}
.icon-powerpoint:before {
  content: "\e90b";
}
.icon-word:before {
  content: "\e90c";
}
.icon-excel:before {
  content: "\e90d";
}
.icon-outlook:before {
  content: "\e90e";
}
.icon-terminal:before {
  content: "\e90f";
}
.icon-cmd:before {
  content: "\e90f";
}
.icon-magento:before {
  content: "\e910";
}
.icon-seamonkey:before {
  content: "\e911";
}
.icon-haiku:before {
  content: "\e912";
}
.icon-eclipse:before {
  content: "\e913";
}
.icon-jquery:before {
  content: "\e914";
}
.icon-visual-studio:before {
  content: "\e915";
}
.icon-nodejs:before {
  content: "\e916";
}
.icon-python:before {
  content: "\e917";
}
.icon-javascript:before {
  content: "\e918";
}
.icon-js:before {
  content: "\e918";
}
.icon-svg:before {
  content: "\eae9";
}
.icon-php:before {
  content: "\e919";
}
.icon-cast:before {
  content: "\e932";
}
.icon-google-cast:before {
  content: "\e932";
}
.icon-playstation:before {
  content: "\e91a";
}
.icon-xbox:before {
  content: "\e91b";
}
.icon-osvr:before {
  content: "\e91c";
}
.icon-vive:before {
  content: "\e91d";
}
.icon-htc-vive:before {
  content: "\e91d";
}
.icon-oculus:before {
  content: "\e91e";
}
.icon-oculus-rift:before {
  content: "\e91e";
}
.icon-gear-vr:before {
  content: "\e91e";
}
.icon-yandex:before {
  content: "\e91f";
}
.icon-yandex-browser:before {
  content: "\e91f";
}
.icon-vivaldi:before {
  content: "\e920";
}
.icon-java:before {
  content: "\e921";
}
.icon-blackberry:before {
  content: "\e922";
}
.icon-amiga-classic:before {
  content: "\e923";
}
.icon-amiga:before {
  content: "\e924";
}
.icon-amiga-os:before {
  content: "\e924";
}
.icon-gimp:before {
  content: "\e925";
}
.icon-xfce:before {
  content: "\e926";
}
.icon-gnu:before {
  content: "\e927";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-iphone:before {
  content: "\f10b";
}
.icon-phone:before {
  content: "\f10b";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-ipad:before {
  content: "\f10a";
}
.icon-google-play:before {
  content: "\e928";
}
.icon-creative-cloud:before {
  content: "\e933";
}
.icon-inkscape:before {
  content: "\e929";
}
.icon-openbsd:before {
  content: "\e92a";
}
.icon-freebsd:before {
  content: "\e92b";
}
.icon-freebsd-beastie:before {
  content: "\e92c";
}
.icon-beastie:before {
  content: "\e92c";
}
.icon-bsd:before {
  content: "\e92c";
}
.icon-discord-alt:before {
  content: "\e92d";
}
.icon-gg:before {
  content: "\f260";
}
.icon-gg-circle:before {
  content: "\f261";
}
.icon-discord:before {
  content: "\e92e";
}
.icon-qq:before {
  content: "\e92f";
}
.icon-youtube-square:before {
  content: "\e930";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-github-square:before {
  content: "\f092";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-bitcoin:before {
  content: "\f15a";
}
.icon-btc:before {
  content: "\f15a";
}
.icon-xing:before {
  content: "\f168";
}
.icon-xing-square:before {
  content: "\f169";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-square:before {
  content: "\f172";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-tumblr-square:before {
  content: "\f174";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-trello:before {
  content: "\f181";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-gratipay:before {
  content: "\f184";
}
.icon-vk:before {
  content: "\f189";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-renren:before {
  content: "\f18b";
}
.icon-stack-exchange:before {
  content: "\f18d";
}
.icon-vimeo-square:before {
  content: "\f194";
}
.icon-slack:before {
  content: "\f198";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-openid:before {
  content: "\f19b";
}
.icon-yahoo:before {
  content: "\f19e";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-reddit:before {
  content: "\f1a1";
}
.icon-reddit-square:before {
  content: "\f1a2";
}
.icon-stumbleupon-circle:before {
  content: "\f1a3";
}
.icon-stumbleupon:before {
  content: "\f1a4";
}
.icon-delicious:before {
  content: "\f1a5";
}
.icon-digg:before {
  content: "\f1a6";
}
.icon-drupal:before {
  content: "\f1a9";
}
.icon-joomla:before {
  content: "\f1aa";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-behance-square:before {
  content: "\f1b5";
}
.icon-steam:before {
  content: "\f1b6";
}
.icon-steam-square:before {
  content: "\f1b7";
}
.icon-spotify:before {
  content: "\f1bc";
}
.icon-deviantart:before {
  content: "\f1bd";
}
.icon-soundcloud:before {
  content: "\f1be";
}
.icon-codepen:before {
  content: "\f1cb";
}
.icon-jsfiddle:before {
  content: "\f1cc";
}
.icon-git-square:before {
  content: "\f1d2";
}
.icon-git:before {
  content: "\f1d3";
}
.icon-hacker-news:before {
  content: "\f1d4";
}
.icon-y-combinator-square:before {
  content: "\f1d4";
}
.icon-yc-square:before {
  content: "\f1d4";
}
.icon-tencent-weibo:before {
  content: "\f1d5";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-share:before {
  content: "\f1e0";
}
.icon-share-square:before {
  content: "\f1e1";
}
.icon-slideshare:before {
  content: "\f1e7";
}
.icon-twitch:before {
  content: "\f1e8";
}
.icon-yelp:before {
  content: "\f1e9";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-google-wallet:before {
  content: "\f1ee";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-lastfm:before {
  content: "\f202";
}
.icon-lastfm-square:before {
  content: "\f203";
}
.icon-ioxhost:before {
  content: "\f208";
}
.icon-angellist:before {
  content: "\f209";
}
.icon-buysellads:before {
  content: "\f20d";
}
.icon-connectdevelop:before {
  content: "\f20e";
}
.icon-dashcube:before {
  content: "\f210";
}
.icon-forumbee:before {
  content: "\f211";
}
.icon-leanpub:before {
  content: "\f212";
}
.icon-sellsy:before {
  content: "\f213";
}
.icon-shirtsinbulk:before {
  content: "\f214";
}
.icon-simplybuilt:before {
  content: "\f215";
}
.icon-skyatlas:before {
  content: "\f216";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-medium:before {
  content: "\f23a";
}
.icon-y-combinator:before {
  content: "\f23b";
}
.icon-yc:before {
  content: "\f23b";
}
.icon-opencart:before {
  content: "\f23d";
}
.icon-expeditedssl:before {
  content: "\f23e";
}
.icon-cc-jcb:before {
  content: "\f24b";
}
.icon-cc-diners-club:before {
  content: "\f24c";
}
.icon-tripadvisor:before {
  content: "\f262";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-odnoklassniki-square:before {
  content: "\f264";
}
.icon-get-pocket:before {
  content: "\f265";
}
.icon-wikipedia-w:before {
  content: "\f266";
}
.icon-safari:before {
  content: "\f267";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
.icon-contao:before {
  content: "\f26d";
}
.icon-500px:before {
  content: "\f26e";
}
.icon-amazon:before {
  content: "\f270";
}
.icon-houzz:before {
  content: "\f27c";
}
.icon-vimeo:before {
  content: "\f27d";
}
.icon-reddit-alien:before {
  content: "\f281";
}
.icon-edge:before {
  content: "\f282";
}
.icon-codiepie:before {
  content: "\f284";
}
.icon-modx:before {
  content: "\f285";
}
.icon-product-hunt:before {
  content: "\f288";
}
.icon-mixcloud:before {
  content: "\f289";
}
.icon-scribd:before {
  content: "\f28a";
}
.icon-bluetooth:before {
  content: "\f293";
}
.icon-bluetooth-b:before {
  content: "\f294";
}
.icon-gitlab:before {
  content: "\f296";
}
.icon-wpforms:before {
  content: "\f298";
}
.icon-envira:before {
  content: "\f299";
}
.icon-glide:before {
  content: "\f2a5";
}
.icon-glide-g:before {
  content: "\f2a6";
}
.icon-viadeo:before {
  content: "\f2a9";
}
.icon-viadeo-square:before {
  content: "\f2aa";
}
.icon-snapchat:before {
  content: "\f2ab";
}
.icon-snapchat-ghost:before {
  content: "\f2ac";
}
.icon-snapchat-square:before {
  content: "\f2ad";
}
.icon-yoast:before {
  content: "\f2b1";
}
.icon-themeisle:before {
  content: "\f2b2";
}
.icon-google-plus-circle:before {
  content: "\f2b3";
}
.icon-google-plus-official:before {
  content: "\f2b3";
}
.icon-linode:before {
  content: "\f2b8";
}
.icon-quora:before {
  content: "\f2c4";
}
.icon-free-code-camp:before {
  content: "\f2c5";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-bandcamp:before {
  content: "\f2d5";
}
.icon-grav:before {
  content: "\f2d6";
}
.icon-etsy:before {
  content: "\f2d7";
}
.icon-imdb:before {
  content: "\f2d8";
}
.icon-ravelry:before {
  content: "\f2d9";
}
.icon-eercast:before {
  content: "\f2da";
}
.icon-wpexplorer:before {
  content: "\f2de";
}
.icon-meetup:before {
  content: "\f2e0";
}

