.icon-gmail {
  &:before {
    content: $icon-gmail;
  }
}
.icon-wine {
  &:before {
    content: $icon-wine;
  }
}
.icon-pi {
  &:before {
    content: $icon-pi;
  }
}
.icon-office {
  &:before {
    content: $icon-office;
  }
}
.icon-sharepoint {
  &:before {
    content: $icon-sharepoint;
  }
}
.icon-sway {
  &:before {
    content: $icon-sway;
  }
}
.icon-visio {
  &:before {
    content: $icon-visio;
  }
}
.icon-publisher {
  &:before {
    content: $icon-publisher;
  }
}
.icon-project {
  &:before {
    content: $icon-project;
  }
}
.icon-access {
  &:before {
    content: $icon-access;
  }
}
.icon-onenote {
  &:before {
    content: $icon-onenote;
  }
}
.icon-powerpoint {
  &:before {
    content: $icon-powerpoint;
  }
}
.icon-word {
  &:before {
    content: $icon-word;
  }
}
.icon-excel {
  &:before {
    content: $icon-excel;
  }
}
.icon-outlook {
  &:before {
    content: $icon-outlook;
  }
}
.icon-terminal {
  &:before {
    content: $icon-terminal;
  }
}
.icon-magento {
  &:before {
    content: $icon-magento;
  }
}
.icon-seamonkey {
  &:before {
    content: $icon-seamonkey;
  }
}
.icon-haiku {
  &:before {
    content: $icon-haiku;
  }
}
.icon-eclipse {
  &:before {
    content: $icon-eclipse;
  }
}
.icon-jquery {
  &:before {
    content: $icon-jquery;
  }
}
.icon-visual-studio {
  &:before {
    content: $icon-visual-studio;
  }
}
.icon-nodejs {
  &:before {
    content: $icon-nodejs;
  }
}
.icon-python {
  &:before {
    content: $icon-python;
  }
}
.icon-javascript {
  &:before {
    content: $icon-javascript;
  }
}
.icon-php {
  &:before {
    content: $icon-php;
  }
}
.icon-playstation {
  &:before {
    content: $icon-playstation;
  }
}
.icon-xbox {
  &:before {
    content: $icon-xbox;
  }
}
.icon-osvr {
  &:before {
    content: $icon-osvr;
  }
}
.icon-vive {
  &:before {
    content: $icon-vive;
  }
}
.icon-oculus {
  &:before {
    content: $icon-oculus;
  }
}
.icon-yandex {
  &:before {
    content: $icon-yandex;
  }
}
.icon-vivaldi {
  &:before {
    content: $icon-vivaldi;
  }
}
.icon-java {
  &:before {
    content: $icon-java;
  }
}
.icon-blackberry {
  &:before {
    content: $icon-blackberry;
  }
}
.icon-amiga-classic {
  &:before {
    content: $icon-amiga-classic;
  }
}
.icon-amiga {
  &:before {
    content: $icon-amiga;
  }
}
.icon-gimp {
  &:before {
    content: $icon-gimp;
  }
}
.icon-xfce {
  &:before {
    content: $icon-xfce;
  }
}
.icon-gnu {
  &:before {
    content: $icon-gnu;
  }
}
.icon-google-play {
  &:before {
    content: $icon-google-play;
  }
}
.icon-inkscape {
  &:before {
    content: $icon-inkscape;
  }
}
.icon-openbsd {
  &:before {
    content: $icon-openbsd;
  }
}
.icon-freebsd {
  &:before {
    content: $icon-freebsd;
  }
}
.icon-beastie {
  &:before {
    content: $icon-beastie;
  }
}
.icon-discord-alt {
  &:before {
    content: $icon-discord-alt;
  }
}
.icon-discord {
  &:before {
    content: $icon-discord;
  }
}
.icon-qq {
  &:before {
    content: $icon-qq;
  }
}
.icon-youtube-square {
  &:before {
    content: $icon-youtube-square;
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud;
  }
}
.icon-cast {
  &:before {
    content: $icon-cast;
  }
}
.icon-creative-cloud {
  &:before {
    content: $icon-creative-cloud;
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop;
  }
}
.icon-svg {
  &:before {
    content: $icon-svg;
  }
}
.icon-twitter-square {
  &:before {
    content: $icon-twitter-square;
  }
}
.icon-facebook-square {
  &:before {
    content: $icon-facebook-square;
  }
}
.icon-linkedin-square {
  &:before {
    content: $icon-linkedin-square;
  }
}
.icon-github-square {
  &:before {
    content: $icon-github-square;
  }
}
.icon-phone-square {
  &:before {
    content: $icon-phone-square;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-globe {
  &:before {
    content: $icon-globe;
  }
}
.icon-square {
  &:before {
    content: $icon-square;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-pinterest-square {
  &:before {
    content: $icon-pinterest-square;
  }
}
.icon-google-plus-square {
  &:before {
    content: $icon-google-plus-square;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-tablet {
  &:before {
    content: $icon-tablet;
  }
}
.icon-mobile {
  &:before {
    content: $icon-mobile;
  }
}
.icon-github-alt {
  &:before {
    content: $icon-github-alt;
  }
}
.icon-maxcdn {
  &:before {
    content: $icon-maxcdn;
  }
}
.icon-html5 {
  &:before {
    content: $icon-html5;
  }
}
.icon-css3 {
  &:before {
    content: $icon-css3;
  }
}
.icon-rss-square {
  &:before {
    content: $icon-rss-square;
  }
}
.icon-bitcoin {
  &:before {
    content: $icon-bitcoin;
  }
}
.icon-xing {
  &:before {
    content: $icon-xing;
  }
}
.icon-xing-square {
  &:before {
    content: $icon-xing-square;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-dropbox {
  &:before {
    content: $icon-dropbox;
  }
}
.icon-stack-overflow {
  &:before {
    content: $icon-stack-overflow;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-flickr {
  &:before {
    content: $icon-flickr;
  }
}
.icon-bitbucket {
  &:before {
    content: $icon-bitbucket;
  }
}
.icon-bitbucket-square {
  &:before {
    content: $icon-bitbucket-square;
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr;
  }
}
.icon-tumblr-square {
  &:before {
    content: $icon-tumblr-square;
  }
}
.icon-apple {
  &:before {
    content: $icon-apple;
  }
}
.icon-windows {
  &:before {
    content: $icon-windows;
  }
}
.icon-android {
  &:before {
    content: $icon-android;
  }
}
.icon-linux {
  &:before {
    content: $icon-linux;
  }
}
.icon-dribbble {
  &:before {
    content: $icon-dribbble;
  }
}
.icon-skype {
  &:before {
    content: $icon-skype;
  }
}
.icon-foursquare {
  &:before {
    content: $icon-foursquare;
  }
}
.icon-trello {
  &:before {
    content: $icon-trello;
  }
}
.icon-gittip {
  &:before {
    content: $icon-gittip;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;
  }
}
.icon-weibo {
  &:before {
    content: $icon-weibo;
  }
}
.icon-renren {
  &:before {
    content: $icon-renren;
  }
}
.icon-stack-exchange {
  &:before {
    content: $icon-stack-exchange;
  }
}
.icon-vimeo-square {
  &:before {
    content: $icon-vimeo-square;
  }
}
.icon-slack {
  &:before {
    content: $icon-slack;
  }
}
.icon-envelope-square {
  &:before {
    content: $icon-envelope-square;
  }
}
.icon-wordpress {
  &:before {
    content: $icon-wordpress;
  }
}
.icon-openid {
  &:before {
    content: $icon-openid;
  }
}
.icon-yahoo {
  &:before {
    content: $icon-yahoo;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}
.icon-reddit {
  &:before {
    content: $icon-reddit;
  }
}
.icon-reddit-square {
  &:before {
    content: $icon-reddit-square;
  }
}
.icon-stumbleupon-circle {
  &:before {
    content: $icon-stumbleupon-circle;
  }
}
.icon-stumbleupon {
  &:before {
    content: $icon-stumbleupon;
  }
}
.icon-delicious {
  &:before {
    content: $icon-delicious;
  }
}
.icon-digg {
  &:before {
    content: $icon-digg;
  }
}
.icon-drupal {
  &:before {
    content: $icon-drupal;
  }
}
.icon-joomla {
  &:before {
    content: $icon-joomla;
  }
}
.icon-behance {
  &:before {
    content: $icon-behance;
  }
}
.icon-behance-square {
  &:before {
    content: $icon-behance-square;
  }
}
.icon-steam {
  &:before {
    content: $icon-steam;
  }
}
.icon-steam-square {
  &:before {
    content: $icon-steam-square;
  }
}
.icon-spotify {
  &:before {
    content: $icon-spotify;
  }
}
.icon-deviantart {
  &:before {
    content: $icon-deviantart;
  }
}
.icon-soundcloud {
  &:before {
    content: $icon-soundcloud;
  }
}
.icon-codepen {
  &:before {
    content: $icon-codepen;
  }
}
.icon-jsfiddle {
  &:before {
    content: $icon-jsfiddle;
  }
}
.icon-git-square {
  &:before {
    content: $icon-git-square;
  }
}
.icon-git {
  &:before {
    content: $icon-git;
  }
}
.icon-hacker-news {
  &:before {
    content: $icon-hacker-news;
  }
}
.icon-tencent-weibo {
  &:before {
    content: $icon-tencent-weibo;
  }
}
.icon-wechat {
  &:before {
    content: $icon-wechat;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-share-square {
  &:before {
    content: $icon-share-square;
  }
}
.icon-slideshare {
  &:before {
    content: $icon-slideshare;
  }
}
.icon-twitch {
  &:before {
    content: $icon-twitch;
  }
}
.icon-yelp {
  &:before {
    content: $icon-yelp;
  }
}
.icon-paypal {
  &:before {
    content: $icon-paypal;
  }
}
.icon-google-wallet {
  &:before {
    content: $icon-google-wallet;
  }
}
.icon-cc-visa {
  &:before {
    content: $icon-cc-visa;
  }
}
.icon-cc-mastercard {
  &:before {
    content: $icon-cc-mastercard;
  }
}
.icon-cc-discover {
  &:before {
    content: $icon-cc-discover;
  }
}
.icon-cc-amex {
  &:before {
    content: $icon-cc-amex;
  }
}
.icon-cc-paypal {
  &:before {
    content: $icon-cc-paypal;
  }
}
.icon-cc-stripe {
  &:before {
    content: $icon-cc-stripe;
  }
}
.icon-lastfm {
  &:before {
    content: $icon-lastfm;
  }
}
.icon-lastfm-square {
  &:before {
    content: $icon-lastfm-square;
  }
}
.icon-ioxhost {
  &:before {
    content: $icon-ioxhost;
  }
}
.icon-angellist {
  &:before {
    content: $icon-angellist;
  }
}
.icon-buysellads {
  &:before {
    content: $icon-buysellads;
  }
}
.icon-connectdevelop {
  &:before {
    content: $icon-connectdevelop;
  }
}
.icon-dashcube {
  &:before {
    content: $icon-dashcube;
  }
}
.icon-forumbee {
  &:before {
    content: $icon-forumbee;
  }
}
.icon-leanpub {
  &:before {
    content: $icon-leanpub;
  }
}
.icon-sellsy {
  &:before {
    content: $icon-sellsy;
  }
}
.icon-shirtsinbulk {
  &:before {
    content: $icon-shirtsinbulk;
  }
}
.icon-simplybuilt {
  &:before {
    content: $icon-simplybuilt;
  }
}
.icon-skyatlas {
  &:before {
    content: $icon-skyatlas;
  }
}
.icon-facebook-official {
  &:before {
    content: $icon-facebook-official;
  }
}
.icon-pinterest-p {
  &:before {
    content: $icon-pinterest-p;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-medium {
  &:before {
    content: $icon-medium;
  }
}
.icon-y-combinator {
  &:before {
    content: $icon-y-combinator;
  }
}
.icon-opencart {
  &:before {
    content: $icon-opencart;
  }
}
.icon-expeditedssl {
  &:before {
    content: $icon-expeditedssl;
  }
}
.icon-cc-jcb {
  &:before {
    content: $icon-cc-jcb;
  }
}
.icon-cc-diners-club {
  &:before {
    content: $icon-cc-diners-club;
  }
}
.icon-gg {
  &:before {
    content: $icon-gg;
  }
}
.icon-gg-circle {
  &:before {
    content: $icon-gg-circle;
  }
}
.icon-tripadvisor {
  &:before {
    content: $icon-tripadvisor;
  }
}
.icon-odnoklassniki {
  &:before {
    content: $icon-odnoklassniki;
  }
}
.icon-odnoklassniki-square {
  &:before {
    content: $icon-odnoklassniki-square;
  }
}
.icon-get-pocket {
  &:before {
    content: $icon-get-pocket;
  }
}
.icon-wikipedia-w {
  &:before {
    content: $icon-wikipedia-w;
  }
}
.icon-safari {
  &:before {
    content: $icon-safari;
  }
}
.icon-chrome {
  &:before {
    content: $icon-chrome;
  }
}
.icon-firefox {
  &:before {
    content: $icon-firefox;
  }
}
.icon-opera {
  &:before {
    content: $icon-opera;
  }
}
.icon-internet-explorer {
  &:before {
    content: $icon-internet-explorer;
  }
}
.icon-contao {
  &:before {
    content: $icon-contao;
  }
}
.icon-500px {
  &:before {
    content: $icon-500px;
  }
}
.icon-amazon {
  &:before {
    content: $icon-amazon;
  }
}
.icon-houzz {
  &:before {
    content: $icon-houzz;
  }
}
.icon-vimeo {
  &:before {
    content: $icon-vimeo;
  }
}
.icon-reddit-alien {
  &:before {
    content: $icon-reddit-alien;
  }
}
.icon-edge {
  &:before {
    content: $icon-edge;
  }
}
.icon-codiepie {
  &:before {
    content: $icon-codiepie;
  }
}
.icon-modx {
  &:before {
    content: $icon-modx;
  }
}
.icon-product-hunt {
  &:before {
    content: $icon-product-hunt;
  }
}
.icon-mixcloud {
  &:before {
    content: $icon-mixcloud;
  }
}
.icon-scribd {
  &:before {
    content: $icon-scribd;
  }
}
.icon-bluetooth {
  &:before {
    content: $icon-bluetooth;
  }
}
.icon-bluetooth-b {
  &:before {
    content: $icon-bluetooth-b;
  }
}
.icon-gitlab {
  &:before {
    content: $icon-gitlab;
  }
}
.icon-wpforms {
  &:before {
    content: $icon-wpforms;
  }
}
.icon-envira {
  &:before {
    content: $icon-envira;
  }
}
.icon-glide {
  &:before {
    content: $icon-glide;
  }
}
.icon-glide-g {
  &:before {
    content: $icon-glide-g;
  }
}
.icon-viadeo {
  &:before {
    content: $icon-viadeo;
  }
}
.icon-viadeo-square {
  &:before {
    content: $icon-viadeo-square;
  }
}
.icon-snapchat {
  &:before {
    content: $icon-snapchat;
  }
}
.icon-snapchat-ghost {
  &:before {
    content: $icon-snapchat-ghost;
  }
}
.icon-snapchat-square {
  &:before {
    content: $icon-snapchat-square;
  }
}
.icon-yoast {
  &:before {
    content: $icon-yoast;
  }
}
.icon-themeisle {
  &:before {
    content: $icon-themeisle;
  }
}
.icon-google-plus-circle {
  &:before {
    content: $icon-google-plus-circle;
  }
}
.icon-linode {
  &:before {
    content: $icon-linode;
  }
}
.icon-quora {
  &:before {
    content: $icon-quora;
  }
}
.icon-free-code-camp {
  &:before {
    content: $icon-free-code-camp;
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}
.icon-bandcamp {
  &:before {
    content: $icon-bandcamp;
  }
}
.icon-grav {
  &:before {
    content: $icon-grav;
  }
}
.icon-etsy {
  &:before {
    content: $icon-etsy;
  }
}
.icon-imdb {
  &:before {
    content: $icon-imdb;
  }
}
.icon-ravelry {
  &:before {
    content: $icon-ravelry;
  }
}
.icon-eercast {
  &:before {
    content: $icon-eercast;
  }
}
.icon-wpexplorer {
  &:before {
    content: $icon-wpexplorer;
  }
}
.icon-meetup {
  &:before {
    content: $icon-meetup;
  }
}
